.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.dark-section {
  background-color: #121212;
}

.white-section {
  background-color: #f1f1f1;
}

.button {
  background: none;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1.8rem;
  color: #f6f6f6;
  cursor: pointer;
}

.primary-button {
  background-color: #fe5100;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.primary-button:hover {
  background-color: #c44911;
}

.secondary-button {
  border: 1px solid #f6f6f6;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.secondary-button:hover {
  border: 1px solid #fe5100;
}

.section-title {
  position: relative;
  padding: 1em 0 1em;
  font-size: 3rem;
  text-align: center;
  color: #121212;
  letter-spacing: 2px;
}

.section-title::after {
  content: '';
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 20px;
  background-image: url("/img/brush.png");
  background-size: 100% 20px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: #f6f6f6;
  background-color: #f1f1f1;
}

.header {
  position: relative;
  height: 100px;
  color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

.hamburger {
  position: fixed;
  top: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  z-index: 500;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
  text-transform: uppercase;
}

.brand__title {
  font-size: 4rem;
  color: #121212;
}

.brand__title span {
  color: #fe5100;
}

.brand__subtitle {
  font-size: 1.6rem;
  color: #121212;
  letter-spacing: 5px;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transform: translateX(102%);
          transform: translateX(102%);
  z-index: 10;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.nav-mobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__link {
  font-size: 3.6rem;
  padding: 20px 0;
  color: #666666;
  text-decoration: none;
}

.nav__link--active {
  position: relative;
  color: #121212;
}

.nav__link--active::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #fe5100;
}

.home {
  position: relative;
  padding: 2em 0;
}

.home__text-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__text-box {
  padding: 2em;
}

.home__text-box-title {
  font-size: 3rem;
  letter-spacing: 3px;
  text-align: center;
}

.home__text-box-subtitle {
  margin-top: 2em;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
}

.home__main-img {
  display: block;
  margin: 0 auto 2em;
  width: 90%;
  border-radius: 15px;
}

.home__buttons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.how {
  padding-bottom: 3em;
}

.how__cards_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.how__card {
  height: 450px;
  margin: 2em;
  width: 300px;
  min-width: 300px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.how__card-img {
  padding: 2em;
  height: 60%;
  background-size: cover;
}

.how__card-title {
  color: #121212;
  font-weight: bold;
  font-size: 2.2rem;
  margin-top: 1em;
}

.how__card-description {
  color: #666666;
  margin-top: 1em;
  font-size: 1.8rem;
}

.why-us {
  padding-bottom: 3em;
}

.why-us .section-title {
  color: #fff;
}

.why-us__icons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-us__icon {
  width: 330px;
  padding: 30px 0;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.why-us__icon i {
  position: relative;
  width: 51px;
  height: 51px;
  margin-right: 20px;
  font-size: 2.8rem;
  color: #121212;
  background-color: #fff;
  border-radius: 50%;
}

.why-us__icon i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 576px) {
  .section-title {
    font-size: 3.6rem;
  }
  .section-title::after {
    top: 80px;
    width: 60%;
  }
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 4.6rem;
    padding: 15px 0;
  }
  .section-title {
    font-size: 4rem;
  }
  .section-title::after {
    top: 90px;
  }
  .home {
    overflow: hidden;
  }
  .home__text-img-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .home__text-box {
    padding: 3em;
  }
  .home__text-box-title {
    font-size: 4rem;
    text-align: left;
  }
  .home__text-box-subtitle {
    font-size: 2.2rem;
    line-height: 3.2rem;
    text-align: left;
  }
  .home__main-img {
    width: 120%;
  }
  .home__buttons-box {
    position: absolute;
    top: 420px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin: 0 3em;
  }
  .home__buttons-box .button {
    margin: 0 1em;
  }
  .home__buttons-box .button:first-child {
    margin-left: 0;
  }
  .how__card-title {
    font-size: 2.6rem;
  }
  .how__card-description {
    font-size: 1.8rem;
  }
  .why-us__icon {
    font-size: 2.4rem;
  }
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 170px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
    background-color: #f1f1f1;
    z-index: 400;
  }
  .brand__title {
    font-size: 5rem;
  }
  .brand__subtitle {
    font-size: 1.8rem;
  }
  .nav.nav-mobile {
    display: none;
  }
  .nav.nav-desktop {
    display: block;
  }
  .nav__link {
    padding: 0 10px;
    font-size: 2.6rem;
  }
  .nav__link--active::before {
    bottom: -3px;
    width: 80%;
  }
  .nav__link--icon {
    font-size: 2.8rem;
    color: #121212;
  }
  .nav__link--icon.nav__link--active {
    color: #fe5100;
  }
  .nav__link--icon.nav__link--active::before {
    display: none;
  }
  .section-title {
    font-size: 4.4rem;
  }
  .section-title::after {
    width: 50%;
    top: 100px;
  }
  .home__buttons-box {
    top: 75%;
  }
  .home__buttons-box .button {
    margin: 0 0.5em;
    padding: 12px 24px;
    font-size: 2.2rem;
  }
  .why-us__icon {
    font-size: 2.6rem;
  }
  .why-us__icon i {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .how__card:nth-child(2) {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

@media (min-width: 1200px) {
  .nav__link {
    font-size: 2.8rem;
  }
  .nav__link--icon {
    font-size: 3rem;
  }
  .section-title::after {
    width: 40%;
  }
  .home__text-box-title {
    font-size: 4.4rem;
  }
  .home__main-img {
    margin-left: 1em;
  }
}
/*# sourceMappingURL=main.css.map */