@media (min-width: 992px) {
	.hamburger {
		display: none;
	}

	.header {
		position: sticky;
		top: 0;
		height: 170px;
		justify-content: space-around;
		padding: 10px;
		background-color: $light_gray;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		z-index: 400;
	}

	.brand {
		&__title {
			font-size: 5rem;
		}

		&__subtitle {
			font-size: 1.8rem;
		}
	}

	.nav {
		&.nav-mobile {
			display: none;
		}

		&.nav-desktop {
			display: block;
		}

		&__link {
			padding: 0 10px;
			font-size: 2.6rem;

			&--active {
				&::before {
					bottom: -3px;
					width: 80%;
				}
			}

			&--icon {
				font-size: 2.8rem;
				color: $dark;

				&.nav__link--active {
					color: $orange;
				}
				&.nav__link--active::before {
					display: none;
				}
			}
		}
	}

	.section-title {
		font-size: 4.4rem;

		&::after {
			width: 50%;
		}
	}

	.home {
		&__buttons-box {
			top: 75%;

			.button {
				margin: 0 0.5em;
				padding: 12px 24px;
				font-size: 2.2rem;
			}
		}
	}

	.why-us {
		&__icon {
			font-size: 2.6rem;
			i {
				font-size: 3rem;
			}
		}
	}

	.faq {
		&__title {
			font-size: 3rem;
		}

		&__subtitle {
			font-size: 2.2rem;
		}

		&__contact-button {
			width: 250px;
			font-size: 2.2rem;
			padding: 15px 30px;
		}
	}
}

@media (min-width: 1100px) {
	.how {
		&__card:nth-child(2) {
			transform: translateY(10%);
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__link {
			font-size: 2.8rem;

			&--icon {
				font-size: 3rem;
			}
		}
	}

	.section-title {
		&::after {
			width: 40%;
		}
	}

	.home {
		&__text-box {
			&-title {
				font-size: 4.4rem;
			}
		}

		&__main-img {
			margin-left: 1em;
		}
	}

	.reviews {
		position: relative;

		&__main-box {
			width: 70%;
			padding-bottom: 4em;
			padding-right: 10%;
			border-top-right-radius: 15px;
			border-bottom-right-radius: 15px;

			&-description {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 1em;
				font-size: 2.4rem;
			}
			&-headings {
				&-item {
					&-title {
						font-size: 4.4rem;
					}
					&-subtitle {
						font-size: 2.6rem;
					}
				}
			}
		}

		&__review-container {
			position: absolute;
			top: 50%;
			right: 0;
			left: 70%;
			bottom: 0;
			height: 60%;
			transform: translateY(-80%);
		}

		&__review-box {
			height: 390px;

			&-profile {
				&-img {
					width: 100px;
					height: 100px;
				}

				&-star {
					font-size: 2.4rem;
				}
			}

			&-name {
				font-size: 2.4rem;
				padding: 1em 0;
			}

			&-description {
				font-size: 2rem;
			}
		}
	}

	.faq {
		&__accordition-box {
			&-number,
			&-toogle-button {
				font-size: 3.2rem;
			}
			&-question {
				&-title {
					font-size: 2.4rem;
				}
			}
		}
	}
}
