@media (min-width: 992px) {
	.hamburger {
		display: none;
	}

	.header {
		position: sticky;
		top: 0;
		height: 170px;
		justify-content: space-around;
		padding: 10px;
		background-color: $light_gray;
		z-index: 400;
	}

	.brand {
		&__title {
			font-size: 5rem;
		}

		&__subtitle {
			font-size: 1.8rem;
		}
	}

	.nav {
		&.nav-mobile {
			display: none;
		}

		&.nav-desktop {
			display: block;
		}

		&__link {
			padding: 0 10px;
			font-size: 2.6rem;

			&--active {
				&::before {
					bottom: -3px;
					width: 80%;
				}
			}

			&--icon {
				font-size: 2.8rem;
				color: $dark;

				&.nav__link--active {
					color: $orange;
				}
				&.nav__link--active::before {
					display: none;
				}
			}
		}
	}

	.section-title {
		font-size: 4.4rem;

		&::after {
			width: 50%;
			top: 100px;
		}
	}

	.home {
		&__buttons-box {
			top: 75%;

			.button {
				margin: 0 0.5em;
				padding: 12px 24px;
				font-size: 2.2rem;
			}
		}
	}
}

@media (min-width: 1100px) {
	.how {
		&__card:nth-child(2) {
			transform: translateY(10%);
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__link {
			font-size: 2.8rem;

			&--icon {
				font-size: 3rem;
			}
		}
	}

	.section-title {
		&::after {
			width: 40%;
		}
	}

	.home {
		&__text-box {
			&-title {
				font-size: 4.4rem;
			}
		}

		&__main-img {
			margin-left: 1em;
		}
	}
}
