@media (min-width: 768px) {
	.nav {
		&__link {
			font-size: 4.6rem;
			padding: 15px 0;
		}
	}

	.section-title {
		font-size: 4rem;
	}

	.home {
		overflow: hidden;

		&__text-img-wrapper {
			flex-direction: row;
			align-items: flex-start;
		}

		&__text-box {
			padding: 3em;

			&-title {
				font-size: 4rem;
				text-align: left;
			}

			&-subtitle {
				font-size: 2.2rem;
				line-height: 3.2rem;
				text-align: left;
			}
		}

		&__main-img {
			width: 120%;
		}

		&__buttons-box {
			position: absolute;
			top: 420px;
			justify-content: flex-start;
			align-items: start;
			margin: 0 3em;

			.button {
				margin: 0 1em;
			}

			.button:first-child {
				margin-left: 0;
			}
		}
	}

	.how {
		&__card {
			&-title {
				font-size: 2.6rem;
			}

			&-description {
				font-size: 1.8rem;
			}
		}
	}

	.why-us {
		&__icon {
			font-size: 2.4rem;
		}
	}

	.offer {
		&__card {
			&-description {
				font-size: 2.4rem;
			}
			&-info-list {
				font-size: 2.4rem;
			}
		}
	}

	.reviews {
		&__main-box {
			&-description {
				font-size: 2.2rem;
			}
			&-headings {
				&-item {
					&-title {
						font-size: 3.4rem;
					}
					&-subtitle {
						font-size: 2.4rem;
					}
				}
			}
		}
	}

	.faq {
		&__title-wrapper {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			text-align: left;
			padding: 0 2em;
		}

		&__title {
			font-size: 3rem;
		}

		&__subtitle {
			padding: 0 1em;
			margin-bottom: 0;
		}

		&__contact-button {
			width: 200px;
			padding: 12px 24px;
		}

		&__accordition-wrapper {
			padding: 0 4em;
		}

		&__accordition-box {
			&-number,
			&-toogle-button {
				font-size: 2.8rem;
			}
			&-question {
				&-title {
					font-size: 2.2rem;
					text-align: left;
				}
				&-answer {
					font-size: 2rem;
				}
			}
		}
	}

	.footer {
		&__box-wrapper {
			padding: 0 2em;
		}

		&__bottom-text {
			font-size: 1.4rem;
		}
	}
}
