@media (min-width: 768px) {
	.nav {
		&__link {
			font-size: 4.6rem;
			padding: 15px 0;
		}
	}

	.section-title {
		font-size: 4rem;

		&::after {
			top: 90px;
		}
	}

	.home {
		overflow: hidden;

		&__text-img-wrapper {
			flex-direction: row;
			align-items: flex-start;
		}

		&__text-box {
			padding: 3em;

			&-title {
				font-size: 4rem;
				text-align: left;
			}

			&-subtitle {
				font-size: 2.2rem;
				line-height: 3.2rem;
				text-align: left;
			}
		}

		&__main-img {
			width: 120%;
		}

		&__buttons-box {
			position: absolute;
			top: 420px;
			justify-content: flex-start;
			align-items: start;
			margin: 0 3em;

			.button {
				margin: 0 1em;
			}

			.button:first-child {
				margin-left: 0;
			}
		}
	}

	.how {
		&__card {
			&-title {
				font-size: 2.6rem;
			}

			&-description {
				font-size: 1.8rem;
			}
		}
	}

	.why-us {
		&__icon {
			font-size: 2.4rem;
		}
	}
}
