@media (min-width: 576px) {
	.section-title {
		font-size: 3.6rem;

		&::after {
			bottom: 20px;
			width: 60%;
		}
	}

	.reviews {
		&__review-box {
			margin: 2em 1em;
			padding: 2em 3em;
		}
	}
}
