@media (min-width: 576px) {
	.section-title {
		font-size: 3.6rem;

		&::after {
			bottom: 20px;
			width: 60%;
		}
	}

	.reviews {
		&__review-box {
			margin: 2em 1em;
			padding: 2em 3em;
		}
	}

	.faq {
		&__contact-button {
			width: 500px;
			margin: 0 auto;
		}

		&__accordition-wrapper {
			margin: 2em 0;
			padding: 0 2em;
		}

		&__accordition-box {
			padding: 2em 1em;

			&-number {
				font-size: 2.6rem;
			}
			&-question {
				&-title {
					font-size: 2rem;
				}
				&-answer {
					font-size: 1.8rem;
				}
			}

			&-toogle-button {
				font-size: 2.6rem;
			}
		}
	}
}
