@import './colors';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	color: $lighter_gray;
	background-color: $light_gray;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.dark-section {
	background-color: $dark;
}

.white-section {
	background-color: $light_gray;
}

.button {
	background: none;
	padding: 8px 16px;
	border-radius: 8px;
	border: 1px solid transparent;
	font-size: 1.8rem;
	color: $lighter_gray;
	cursor: pointer;
}

.primary-button {
	background-color: $orange;
	transition: background-color 0.3s;

	&:hover {
		background-color: $lighter_orange;
	}
}

.secondary-button {
	border: 1px solid $lighter_gray;
	transition: border 0.3s;

	&:hover {
		border: 1px solid $orange;
	}
}

.header {
	position: relative;
	height: 100px;
	color: $dark;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
}

.hamburger {
	position: fixed;
	top: 50px;
	transform: translateY(-50%);
	right: 0;
	z-index: 500;
}

//BRAND
.brand {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $gray;
	text-transform: uppercase;

	&__title {
		font-size: 4rem;
		color: $dark;

		span {
			color: $orange;
		}
	}

	&__subtitle {
		font-size: 1.6rem;
		color: $dark;
		letter-spacing: 5px;
	}
}

//NAVIGATION
.nav {
	&-desktop {
		display: none;
	}

	&-mobile {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $white;
		transform: translateX(102%);
		z-index: 10;
		transition: transform 0.4s;

		&--active {
			transform: translateX(0);
		}
	}

	&__link {
		font-size: 3.6rem;
		padding: 20px 0;
		color: $gray;
		text-decoration: none;

		&--active {
			position: relative;
			color: $dark;

			&::before {
				content: '';
				position: absolute;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				height: 3px;
				background-color: $orange;
			}
		}
	}
}

//HOME
.home {
	position: relative;
	padding: 2em 0;

	&__text-img-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__text-box {
		padding: 2em;

		&-title {
			font-size: 3rem;
			letter-spacing: 3px;
			text-align: center;
		}

		&-subtitle {
			margin-top: 2em;
			font-size: 1.6rem;
			line-height: 2.4rem;
			text-align: center;
		}
	}

	&__main-img {
		display: block;
		margin: 0 auto 2em;
		width: 90%;
		border-radius: 15px;
	}

	&__buttons-box {
		display: flex;
		justify-content: space-evenly;
	}
}

.offer {
	height: 100vh;
}

@import './small';
@import './medium';
@import './large';
