@import './colors';
@import './components';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	color: $lighter_gray;
	background-color: $light_gray;
}

.header {
	position: relative;
	height: 100px;
	color: $dark;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
}

.hamburger {
	position: fixed;
	top: 50px;
	transform: translateY(-50%);
	right: 0;
	z-index: 500;
}

//BRAND
.brand {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $gray;
	text-transform: uppercase;
	caret-color: transparent;
	cursor: pointer;

	&__title {
		font-size: 4rem;
		color: $dark;

		span {
			color: $orange;
		}
	}

	&__subtitle {
		font-size: 1.6rem;
		color: $dark;
		letter-spacing: 5px;
	}
}

//NAVIGATION
.nav {
	&-desktop {
		display: none;
	}

	&-mobile {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $white;
		transform: translateX(102%);
		z-index: 10;
		transition: transform 0.4s;

		&--active {
			transform: translateX(0);
		}
	}

	&__link {
		font-size: 3.6rem;
		padding: 20px 0;
		color: $gray;
		text-decoration: none;

		&--active {
			position: relative;
			color: $dark;

			&::before {
				content: '';
				position: absolute;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				height: 3px;
				background-color: $orange;
			}
		}
	}
}

//HOME
.home {
	position: relative;
	padding: 2em 0;

	&__text-img-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__text-box {
		padding: 2em;

		&-title {
			font-size: 3rem;
			letter-spacing: 3px;
			text-align: center;
		}

		&-subtitle {
			margin-top: 2em;
			font-size: 1.6rem;
			line-height: 2.4rem;
			text-align: center;
		}
	}

	&__main-img {
		display: block;
		margin: 0 auto 2em;
		width: 90%;
		border-radius: 15px;
	}

	&__buttons-box {
		display: flex;
		justify-content: space-evenly;
	}
}

.how {
	padding-bottom: 3em;

	&__cards_box {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}

	&__card {
		height: 450px;
		margin: 2em;
		width: 300px;
		min-width: 300px;
		background-color: $white;
		border-radius: 15px;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
		overflow: hidden;
		text-align: center;

		&-img {
			padding: 2em;
			height: 60%;
			background-size: cover;
		}

		&-title {
			color: $dark;
			font-weight: bold;
			font-size: 2.2rem;
			margin-top: 1em;
		}

		&-description {
			color: $gray;
			margin-top: 1em;
			font-size: 1.8rem;
		}
	}
}

.why-us {
	padding-bottom: 3em;

	.section-title {
		color: $white;
	}

	&__icons-box {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}

	&__icon {
		width: 330px;
		padding: 30px 0;
		padding-left: 10px;
		display: flex;
		align-items: center;
		font-size: 2rem;

		i {
			position: relative;
			width: 51px;
			height: 51px;
			margin-right: 20px;
			font-size: 2.8rem;
			color: $dark;
			background-color: $white;
			border-radius: 50%;

			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.offer {
	padding-bottom: 3em;

	&__cards-box {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}

	&__card {
		position: relative;
		height: 400px;
		margin: 2em;
		width: 350px;
		min-width: 300px;
		border-radius: 15px;
		overflow: hidden;
		text-align: center;
		perspective: 1000px;

		&:hover {
			.offer__card-img,
			.offer__card-description {
				transform: rotateY(180deg);
			}
			.offer__card-description {
				opacity: 0;
			}

			.offer__card-info-list {
				transform: rotateY(0);
				opacity: 1;
			}
		}

		&-img {
			// width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.5s;
		}

		&-description {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 15%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(0, 0, 0, 0.8);
			font-size: 1.8rem;
			transition: transform 0.5s, opacity 0.5s;
		}

		&-info-list {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			list-style: none;
			font-size: 2rem;
			opacity: 0;
			background-image: $black_gradient;
			transform: rotateY(-180deg);
			transition: transform 0.5s, opacity 0.5s;

			&-item {
				padding: 1em;
				border-bottom: 1px solid $white;

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

.reviews {
	padding-bottom: 3em;
	color: $dark;

	&__main-box {
		padding: 2em;
		width: 100%;
		background-color: $dark;
		color: $white;

		.section-title {
			color: $white;
		}

		&-description {
			margin: 1.6em 0;
			font-size: 1.8rem;
		}

		&-headings {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 1em;
			text-align: center;

			&-item {
				&-title {
					font-size: 3rem;
					color: $orange;
				}
				&-subtitle {
					padding: 0.5em;
					font-size: 2rem;
				}
			}
		}
	}

	&__review-container {
		margin: 1em;
	}

	&__review-box {
		position: relative;
		width: 400px;
		height: 330px;
		margin: 2em 1em;
		padding: 1em 2em;
		border-radius: 15px;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
		background-color: $lighter_gray;

		&-profile {
			display: flex;
			align-items: center;

			&-img {
				width: 80px;
				height: 80px;
				object-fit: cover;
				border-radius: 50%;
			}

			&-star {
				font-size: 2.2rem;
				font-weight: bold;

				i {
					color: $orange;
					padding: 0 0.5em;
				}
			}
		}

		&-name {
			font-size: 2.2rem;
			padding: 1em 0;
		}

		&-description {
			font-size: 1.8rem;
			color: $gray;
		}
	}
}

.faq {
	padding-bottom: 3em;
	color: $dark;

	&__title-wrapper {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 0 1em;
	}

	&__title {
		font-size: 3rem;
		margin: 1em 0;
	}

	&__subtitle {
		font-size: 1.8rem;
		margin-bottom: 1em;
	}

	&__contact-button {
		margin-bottom: 1em;
	}

	&__accordition-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 1em;
		border-radius: 15px;
	}
	&__accordition-box {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
		width: 100%;
		padding: 1em;
		background-color: $white;
		border-bottom: 1px solid $gray;
		border-radius: 15px;
		text-align: center;

		transition: background-color 0.5s, color 0.5s;

		&--active {
			background-color: $dark;
			color: $white;
		}

		&:last-child {
			border-bottom: none;
		}

		&-number {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			font-size: 2.2rem;
			font-weight: bold;
		}

		&-question {
			grid-column: 2 / 6;
			grid-row: 1 / 3;
			text-align: left;

			&-title {
				font-size: 1.6rem;
				text-align: center;
			}
			&-answer {
				height: 0;
				opacity: 0;
				font-size: 1.6rem;
				padding: 1em 0;
				text-align: justify;
				transition: height 0.5s, opacity 0.5s;

				&--active {
					height: 100%;
					opacity: 1;
				}
			}
		}

		&-toogle-button {
			grid-column: 6 / 7;
			grid-row: 1/2;
			padding: 0 0.5em;
			font-size: 2.2rem;
			caret-color: transparent;
			cursor: pointer;
		}
	}
}

@import './small';
@import './medium';
@import './large';
